{
  AccessModifierOffset: -4,
  AlignConsecutiveAssignments: true,
  AlignConsecutiveDeclarations: true,
  AlignConsecutiveMacros: true,
  AllowShortIfStatementsOnASingleLine: false,
  AllowShortCaseLabelsOnASingleLine: true,
  BasedOnStyle: LLVM,
  BreakBeforeBraces: Mozilla,
  BreakConstructorInitializers: BeforeComma,
  BreakInheritanceList: BeforeColon,
  ColumnLimit: 0,
  ConstructorInitializerIndentWidth: 0,
  IncludeBlocks: Regroup,
  IndentCaseLabels: false,
  IndentWidth: 4,
  NamespaceIndentation: All,
  PointerAlignment: Left,
  TabWidth: 4,
  UseTab: Never,
  IncludeCategories:
  [
    { Regex: '<boost\/test\/unit_test.hpp>', Priority: 1 },
    { Regex: '^<[a-z_]+\/[a-z_]+\.h>', Priority: 5 },
    { Regex: '^<[a-z_0-9]+\.h>', Priority: 5 },
    { Regex: "^<[a-z_]+>", Priority: 10 },
    { Regex: '<boost\/.*>', Priority: 11 },
    { Regex: '<thrift\/.*>', Priority: 11 },
    { Regex: '^<[A-Za-z_0-9]+\/[A-Za-z_0-9]+\.hpp>', Priority: 20 },
    { Regex: '^"', Priority: 30 },
  ],
}
