# build
export PKG_CONFIG_PATH=/home/ury/code/stuff/pkgconfig
export CFLAGS="-pedantic -Wall -Wextra -Wformat -Wfloat-equal -Wdisabled-optimization -Wno-vla -Wno-unused-parameter -ggdb"
export CXXFLAGS="$CFLAGS -Woverloaded-virtual -std=c++2a"
export LDFLAGS="-fuse-ld=mold"
export ASAN_SYMBOLIZER_PATH="/usr/bin/llvm-symbolizer-15"

# sentry
export SENTRY_URL="relay.sentry:3000/api/2/store/"
export SENTRY_KEY="626d891753d6489ba426baa41d7c79fc"
export SENTRY_SECRET="350776c0cfba4013a93275e9de63ba5d"

# jaeger agent
export JAEGER_HOST="agent.jaeger.docker"
export JAEGER_PORT="6831"

# etcd
export ETCD_HOST="http://127.0.0.1:2379"
export ETCD_PREFIX="test:"

# mysql
export MYSQL_HOST="mysql-master"
export MYSQL_PORT="3306"
export MYSQL_USER="root"
export MYSQL_PASS="root"

# s3
export S3_HOST="127.0.0.1:9000"
export S3_BUCKET="test"
export S3_ACCESS_KEY="minio"
export S3_SECRET_KEY="minio123"
export S3_REGION="us-east-1"

# log4cxx
export LOG4CXX=/home/ury/code/stuff/unsorted/logger.conf
