[ ca ]
default_ca = CA_default

[ CA_default ]
dir         = .
database    = $dir/index.txt
default_md  = default
default_days    = 18250
default_crl_days= 18250

[mclient]
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth

[mserver]
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[mysql]
subjectAltName=DNS:mysql.elf.dark

[nextcloud]
subjectAltName=DNS:nextcloud.elf.dark

[ldap]
subjectAltName=DNS:ldap.elf.dark

[k8s]
subjectAltName = IP:172.16.9.3, IP:172.16.9.1, DNS:kubernetes, DNS:master.kubernets.docker

[unbound]
subjectAltName = IP:5.2.77.146
